{% extends 'payroll_app/base.html' %}
{% load static %}

{% block content %}
                <div class="mx-auto col-8 col-md-8 col-lg-8 mt-5">
                    <h1>Payroll Creation</h1>
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <form method="POST" action="{% url 'payslips' %}">{% csrf_token %}
                                <div class="form-group mb-3 text-center align-items-center" style>
                                    <label class="form-check-inline" for="payroll_for">Payroll for:</label>
                                    <select class="form-check-inline form-select" style="width: 250px;" id="payroll_for"  name="payroll_for">
                                        <option value="" disabled selected hidden>Choose...</option>
                                        <option value="all_employees">All Employees...</option>
                                        {% for e in employees %}
                                        <option value="{{ e.pk }}">{{ e.id_number }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <hr>
                                
                                <div class="form-group mb-3 text-left align-items-left form-check-inline" style>
                                    <label class="form-check-inline" for="month">Month:</label>
                                    <select class="form-check-inline form-select" style="width: 170px;" id="month"  name="month">
                                        <option value="" disabled selected hidden>Choose...</option>
                                        <option value="January">January</option>
                                        <option value="February">February</option>
                                        <option value="March">March</option>
                                        <option value="April">April</option>
                                        <option value="May">May</option>
                                        <option value="June">June</option>
                                        <option value="July">July</option>
                                        <option value="August">August</option>
                                        <option value="September">September</option>
                                        <option value="October">October</option>
                                        <option value="November">November</option>
                                        <option value="December">December</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3 text-center align-items-center form-check-inline" style>
                                    <label class="form-check-inline" for="year">Year:</label>
                                    <input class="form-check-inline form-control" style="width: 170px;" type="text" id="year"  name="year">
                                </div>

                                <div class="form-group mb-3 text-right align-items-right form-check-inline" style>
                                    <label class="form-check-inline" for="cycle">Cycle:</label>
                                    <select class="form-check-inline form-select" style="width: 170px;" id="cycle"  name="cycle">
                                        <option value="" disabled selected hidden>Choose...</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <h1>Payslips Summary</h1>
                    <div class="col-xs-1 center-block">
                        <table class="table table-striped mb-5">
                            <thead>
                                <th scope="col"> ID Number </th>
                                <th scope="col"> Date </th>
                                <th scope="col"> Cycle</th>
                                <th scope="col"> Total Pay </th>
                                <th scope="col"> Options </th>
                            </thead>
                            <tbody>
                                {% for p in payslips %}
                                <tr>
                                    <td> {{ p.id_number }} </td>
                                    <td> {{ p.month }} {{ p.date_range }}, {{ p.year }} </td>
                                    <td> {{ p.pay_cycle }} </td>
                                    <td> {{ p.total_pay }} </td>
                                    <td><a href="{% url 'view_payslips' payroll_pk=e.pk %}"  class="btn btn-dark">View</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                        
                </div>
                {% endblock %}