{% extends 'payroll_app/base.html' %}
{% load static %}

{% block content %}

<div class="container-sm">
    <div class="row">
        <div class="col mt-4">
            <p class="text-secondary">
                NAME: {{payslips.id_number.name}}
                <br>
                ID NUMBER: {{payslips.id_number}}
            </p>
        </div>
        <div class="col mt-4">
            <p class="text-secondary">
                DATE: {{payslips.month}} {{payslips.date_range}}, {{payslips.year}}
                <br>
                PAYSLIP ID: {{payslips.pk}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col mt-2">
            <p>
            <h6>EARNINGS:</h6>
            </p>
            <p class="text-secondary">
                Base Pay
                <br>
                Allowance
                <br>
                Overtime
            </p>
            <hr/>
        </div>

        <div class="col mt-2">
            <p>
                <h6 class="text-center">AMOUNT</h6>
            </p>
            <p>
                {{payslips.getCycleRate}}
                <br>
                {{payslips.earnings_allowance}}
                <br>
                {{payslips.overtime}}
            </p>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col mt-1 mb-2">
            <p>
                <h6>GROSS PAY</h6>
            </p>
        </div>
        <div class="col mt-1 mb-2">
            <p>
                {% with a=payslips.getCycleRate b=payslips.earnings_allowance c=payslips.overtime %}
                <h6 class="text-center">PHP {{ a|add:b|add:c }} </h6>
                {% endwith %}
            </p>
        </div>
        <hr/>
    </div>
    <div class="row">
        <div class="col mt-2 mb-2">
            <p>
                <h6>DEDUCTIONS</h6>
            </p>
            <p class="text-secondary">
                W/HOLDING TAX
                <br>
                {% if payslips.pay_cycle == 1 %}
                PAG-IBIG
                {% elif payslips.pay_cycle == 2 %}
                PHILHEALTH
                <br>
                SSS
                {%endif%} 
            </p>
        </div>
        <div class="col mt-2 mb-2">
            <p>
                <br>
                <br>
                {{payslips.deductions_tax}} 
                <br> 
                {% if payslips.pay_cycle == 1 %}
                    {{payslips.pag_ibig}}  

                {% elif payslips.pay_cycle == 2 %}
                    
                    {{payslips.deductions_health}}
                    <br>
                    {{payslips.sss}}

                {%endif%} 
            </p>
        <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col mt-1 mb-2">
            <p>
                <h6>TOTAL DEDUCTIONS</h6>
            </p>
        </div>
        <div class="col mt-1 mb-2">
            <p>
                {% if payslips.pay_cycle == 1 %}
                    {% with a=payslips.deductions_tax  b=payslips.pag_ibig  %}
                    <h6 class="text-center">PHP {{ a|add:b }} </h6>
                    {% endwith %}

                {% elif payslips.pay_cycle == 2 %}
                    {% with a=payslips.deductions_tax b=payslips.deductions_health c=payslips.sss %}
                    <h6 class="text-center">PHP {{ a|add:b|add:c }} </h6>
                    {% endwith %}
                {%endif%} 
            </p>
        </div>
        <hr/>
    </div>
    <div class="row">
        <div class="col mt-1 mb-2">
            <p>
                <h5>NET PAY: </h5>
            </p>
        </div>
        <div class="col mt-1 mb-2">
            <p>
                <h5 class="text-center">PHP {{payslips.total_pay}}</h5>
            </p>
        </div>
    </div>
</div>
{% endblock %}
