{% extends 'payroll_app/base.html' %}
{% load static %}

                {% block content %}
                <div class="row">
                    <div class="mx-auto col-10 col-md-10 col-lg-10 mt-3">
                        <div class="mt-3">
                            <style>
                                b{
                                    color: red
                                }
                            </style>
                            {% for message in messages %}
                            <!-- Display error messages -->
                            <b>{{message}}</b>
                            {% endfor %}
                        </div>
                         <!-- Employee List Header -->
                        <div style="display: flex; align-items: center;">
                            <h1>Employees</h1>
                            <!-- Button to add a new employee -->
                            <a type="button" class="btn btn-secondary" href="{% url 'create_employee'%}" style="margin-left: auto;">+ New Employee</a>
                        </div>
                        
                        <!-- Employee Table -->
                        <div class="col-xs-1 center-block">
                            <table class="table table-striped mb-5">
                                <thead>
                                    <th scope="col"> Name </th>
                                    <th scope="col"> ID Number </th>
                                    <th scope="col"> Rate </th>
                                    <th scope="col"> Allowance </th>
                                    <th scope="col"> Overtime </th>
                                    <th scope="col"> Options </th>
                                    <th scope="col">  </th>
                                </thead>
                                <tbody>
                                    <!-- Iterate over a collection of employee objects and perform actions or display information for each individual employee in the template -->
                                    {% for d in employees %}
                                    <tr>
                                        <td> {{ d.name }} </td>
                                        <td> {{ d.id_number }} </td>
                                        <td> {{ d.rate }} </td>
                                        <td> {{ d.allowance }} </td>
                                        <td> {{ d.overtime_pay }} </td>
                                        <td>
                                             <!-- Employee Options -->
                                            <form id="employee_update" method="POST" action="{% url 'calculate_overtimepay' pk=d.pk %}">{% csrf_token %}
                                                <div class="form-check-inline mt-1">
                                                    <a type="button" class="btn btn-primary" href="{% url 'update_employee' pk=d.pk %}">Update</a>
                                                </div>
                                                <div class="form-check-inline mt-1">
                                                    <a type="button" class="btn btn-danger" href="{% url 'delete_employee' pk=d.pk %}">Delete</a>
                                                </div>
                                                <br>
                                                <div class="form-check-inline mt-2">
                                                    <input type="number" class="form-control" id="overtime_hours" name="overtime_hours" placeholder="Overtime Hours">
                                                </div>
                                                <div class="form-check-inline">
                                                    <button type="submit" class="btn btn-Success">Add Overtime</button>
                                                </div>
                                            </form>
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endblock %}



