{% extends 'payroll_app/base.html' %}
{% load static %}

{% block content %}

<div class="container-sm">
    <div class="row">
        <div class="col mt-4">
            <p class="text-secondary">
                NAME: {{payslips.name}}
                <br>
                ID NUMBER: {{payslips.id_number}}
            </p>
        </div>
        <div class="col mt-4">
            <p class="text-secondary">
                DATE: {{payslips.month}} {{payslips.date_range}}
                <br>
                PAYSLIP ID: {{payslips.pk}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col mt-2">
            <p>
            <h6>EARNINGS:</h6>
            </p>
            <p class="text-secondary">
                Base Pay
                <br>
                Allowance
                <br>
                Overtime
            </p>
            <hr/>
        </div>

        <div class="col mt-2">
            <p>
                <h6 class="text-center">AMOUNT</h6>
            </p>
            <p>
                {{payslips.rate}}
                <br>
                {{payslips.earnings_allowance}}
                <br>
                {{payslips.overtime}}
            </p>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col mt-1 mb-2">
            <p>
                <h6>GROSS PAY</h6>
            </p>
        </div>
        <div class="col mt-1 mb-2">
            <p>
                <h6 class="text-center">PHP {{payslips.rate}} + {{payslips.earnings_allowance}} + {{payslips.overtime}}</h6>
            </p>
        </div>
        <hr/>
    </div>
    <div class="row">
        <div class="col mt-2 mb-2">
            <p>
                <h6>DEDUCTIONS</h6>
            </p>
            <p class="text-secondary">
                W/HOLDING TAX
                <br>
                PHILHEALTH
                <br>
                SSS
            </p>
        </div>
        <div class="col mt-2 mb-2">
            <p>
                <br>
                <br>
                {{payslips.deductions_tax}}      
                <br>
                {{payslips.deductions_health}}
                <br>
                {{payslips.sss}}
            </p>
        <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col mt-1 mb-2">
            <p>
                <h6>TOTAL DEDUCTIONS</h6>
            </p>
        </div>
        <div class="col mt-1 mb-2">
            <p>
                <h6 class="text-center">PHP {{payslips.deductions_tax}} + {{payslips.deductions_health}} + {{payslips.sss}}</h6>
            </p>
        </div>
        <hr/>
    </div>
    <div class="row">
        <div class="col mt-1 mb-2">
            <p>
                <h5>NET PAY: </h5>
            </p>
        </div>
        <div class="col mt-1 mb-2">
            <p>
                <h5 class="text-center">PHP {{payslips.pk}}</h5>
            </p>
        </div>
    </div>
</div>
{% endblock %}
