{% extends 'payroll_app/base.html' %}
{% load static %}

                {% block content %}
                <div class="row">
                    <div class="col-xs-1 center-block">
                        <table class="table table-striped mb-5">
                            <thead>
                                <th scope="col"> Name </th>
                                <th scope="col"> ID Number </th>
                                <th scope="col"> Rate </th>
                                <th scope="col"> Allowance </th>
                                <th scope="col"> Overtime </th>
                                <th scope="col"> Options </th>
                                <th scope="col">  </th>
                            </thead>
                            <tbody>
                                {% for d in employees %}
                                <tr>
                                    <td> {{ d.name }} </td>
                                    <td> {{ d.id_number }} </td>
                                    <td> {{ d.rate }} </td>
                                    <td> {{ d.allowance }} </td>
                                    <td> {{ d.overtime_pay }} </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endblock %}



